# Expo
node_modules/
.expo/
dist/
web-build/

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Native builds
ios/
android/

# Secrets & certs
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.env
.env.local
.env.production

# OS clutter
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/